<div class='wrapper'>
  <div class='cf'>
  <div class='left'>
	<% if @sites.length < 5 %>
	  <a href='<%= new_site_path %>' class='site-new btn-create'><i class="fa fa-plus-circle"></i> Create New Site (<%= 5 - @sites.length %> left)</a>
	<% end %>
  </div>
  <div class='right'>
    <a href='<%= edit_site_path( @site ) %>' class='btn-edit'><i class="fa fa-pencil"></i> Edit</a>
<a data-method="delete" rel="nofollow" href='<%= site_path(@site) %>' class='btn-delete'><i class="fa fa-times"></i>
Delete </a>
</div>
</div>
<h2 class='site-title'><a href='//<%= @site.link %>'><%= @site.name %> <small><i class="fa fa-external-link"></i> </small></a></h2>  


  <small>Created at <time><%= @site.created_at.strftime("%B %d, %Y") %></time></small>

<br>

<h3>Instructions</h3>
<ol>
  <li>Add your site to your Dropbox folder in <strong>~/Dropbox/Apps/updog/<%= @site.name %></strong></li>
    <li><a href='//<%= @site.link %>'> View Site </a></li>
</ol>
</div>
