<div class='wrapper'>
<h2><%= @site.domain %></h2>
Created at <time><%= @site.created_at.strftime("%B %d, %Y") %></time>

<a href='http://<%= @site.name %>.updog.co'>View Site</a> | 
<%= link_to 'Delete Site', site_path( @site ), method: :delete %>

<h3>Instructions</h3>
<ol>
  <li>Add your site to your Dropbox folder in <strong>~/Dropbox/Apps/updog/<%= @site.name %></strong></li>
  <li><a href='//<%= @site.domain %>'> View Site </a></li>
</ol>
</div>
