<div class='wrapper'>
  <div class='cf'>
  <div class='left'>
	<% if @sites.length < 5 %>
	  <%= link_to "Create New Site (#{5 - @sites.length} left)", new_site_path, :class => 'site-new btn-create' %>
	<% end %>
  </div>
  <div class='right'>
<%= link_to 'Edit Site', edit_site_path( @site ), :class => 'btn-edit' %>
<%= link_to 'Delete Site', site_path( @site ), :class=> 'btn-delete', method: :delete %>
</div>
</div>
  <h2 class='site-title'><a href='//<%= @site.link %>'><%= @site.name %> <small>&#10138;</small></a></h2>  


  <small>Created at <time><%= @site.created_at.strftime("%B %d, %Y") %></time></small>

<br>

<h3>Instructions</h3>
<ol>
  <li>Add your site to your Dropbox folder in <strong>~/Dropbox/Apps/updog/<%= @site.name %></strong></li>
    <li><a href='//<%= @site.link %>'> View Site </a></li>
</ol>
</div>
