<!DOCTYPE html>
<html>
<head>
  <title>updog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="cID7I5Doj3Iyz6nBwOSCqsvwab-I_Za3gp95zEf3iEY" />
  <meta name='viewport' content='width=device-width'>
</head>
<body>
  <header>
  <div class='wrapper'>
  <h1><a href='/'><span>&#10145;</span> UpDog</a></h1>
  <nav>
  <a href='/about' class='active'>About</a>
  <a href='/source'>View Source</a>
  <a href='/pricing'>Pricing</a>
    <% if session[:user_name] %>
	<%= link_to 'Logout &nbsp;'.html_safe + session[:user_name], '/logout' %>
    <% else %>
      <a href='http://updog.co/auth/dropbox'>Log in</a>
    <% end %>
  </nav>
</div>
</header>

<section class='main'>
    <%= yield %>
</section>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '54e8689c5dd0535601001200');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
