<!DOCTYPE html>
<html>
<head>
  <title>LoginWithDropbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1><a href='http://updog.co'>UpDog</a></h1>
<% if session[:user_name] %>
    Logged in as <%= session[:user_name] %>.
    <%= link_to 'logout', '/logout' %>
<% else %>
  <a href='http://updog.co/auth/dropbox'>Log in</a>
<% end %>
</header>

<section class='main'>
<%= yield %>
</section>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '54e8689c5dd0535601001200');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
